div#autocompletes {
    padding-bottom: 50px;
    padding-top: 20px;
}
form.result_form {
    float: left;
}
.link_icon img {
  max-width: 100%;
  max-height: 100%;
}
.result_form {
position: relative;
}
.result_input {
float: left;
height: 30px;
width: 300px;
}
.result {
padding: 0px;
position: absolute;
top: 34px;
left: 0px;
width: 300px;
z-index: 1;
}
.result ul {
list-style-type: none;
padding: 0;
margin: 0;
background: #fff;
}
.result ul li {
padding: 5px 0;
border: 1px solid #ccc;
}
.result ul li:hover, .highlight {
background: #ccc;
}